* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}


.container {
    display: flex;
    width: 100%;
    height: 100vh;
}


.strip {
    display: flex;
    width: 20%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}


.strip-1 {
    background: forestgreen;
}
.strip-2 {
    background: khaki;
}
.strip-3 {
    background: dodgerblue;
}
.strip-4 {
    background: orange;
}
.strip-5 {
    background: violet;
}

.strip img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.strip .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}


.strip h2 {
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: white;
    position: relative;
    display: block;
}


.strip:hover {
    width: 100%;
}


.strip:hover img {
    display: block;
}


.strip:hover .overlay {
    display: block;
}


.strip:hover h2 {
    display: none;
}